 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* inter font er jonno */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
} nav {
    display: flex;
    width: 1057px;
    height: 92px;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items:center;
    margin: 0px auto;
}
.nav-img{
    /* padding: 16px 316px 16px 120px;
    width: 139px; */
    /* height: 60px; */
    
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 32px;
    /* padding: 340x 346px; */
    font-size: 16px;
}
.nav-ul a {
    text-decoration: none;
    color: black;
}
.btn{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
    
}
.banner{
    background-image: url(assets/hero-bg.png) ;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;                  
    align-items: center;            
    justify-content: center; 
} 
.button{
    width: 466px;
    height: 52px;
    gap: 16px;
    margin-top: 32px;
}
#last-btn{
    background:transparent;
    width: 188px;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin-left: 16px;

}
 
  .dot{
    /* border: 1px solid red; */
    width: 229px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    background-color: white;
    color: #30B868;
    border-radius: 1000px;
  }
 
.p p {
    line-height: 24px;
    color: white;
    margin-top: 16px;
    align-items: center
}
 .all-h{
    font-size:28px; 
    max-width: 770px;
    height: 168px; 
    margin-top: 16px;
} 
  .banner-content{
    text-align: center;
    justify-items: center;
  }
    #last-line{
        color: #30B868;
    }
    #fast-line{
        color: white;
    }