 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* inter font er jonno */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
} nav {
    display: flex;
    width: 1057px;
    height: 92px;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items:center;
    margin: 0px auto;
}
.nav-img{
    /* padding: 16px 316px 16px 120px;
    width: 139px; */
    /* height: 60px; */
    
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 32px;
    /* padding: 340x 346px; */
    font-size: 16px;
}
.nav-ul a {
    text-decoration: none;
    color: black;
}
.btn{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
    
}
.banner{
    background-image: url(assets/hero-bg.png) ;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;                  
    align-items: center;            
    justify-content: center; 
} 
.button{
    width: 466px;
    height: 52px;
    gap: 16px;
    margin-top: 32px;
}
#last-btn{
    background:transparent;
    width: 188px;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin-left: 16px;

}
 
  .dot{
    /* border: 1px solid red; */
    width: 229px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    background-color: white;
    color: #30B868;
    border-radius: 1000px;
  }
 
.p p {
    line-height: 24px;
    color: white;
    margin-top: 16px;
    align-items: center
}
 .all-h{
    font-size:28px; 
    max-width: 770px;
    height: 168px; 
    margin-top: 16px;
} 
  .banner-content{
    text-align: center;
    justify-items: center;
  }
    #last-line{
        color: #30B868;
    }
    #fast-line{
        color: white;
    }
    .section-2{
        text-align: center;
        margin-top: 30px;
    }
    .section-2 h2{
        font-size: 48px;
        font-weight: bold;
        line-height: 58px;
        color: #001931;

    }
    .section-2 p{
        margin-top: 16px;
        font-size: 16px;
        color: #627382;
    }
    .card-img{
        justify-content: center;
         padding: 14.4px;
    }
    .circle{
        background-color:#F95555;
        width: 60px;
        height: 60px;
        border-radius: 50%;
         margin: 69.5px 107px  16px 107px;
    }
    .card-contener{
        display: flex;
        justify-content:center;
         gap: 14px;
         margin-top: 44px;
    }
    .card-item{
        width: 322px;
        height: 300px;
        justify-content: center;
        align-items: center;
        padding: 24px;
        text-align: center;
        border: none;
        box-shadow: 0px 0px 8px 0px ;
        background:  white;
        border-radius: 8px;
       
    }
    .card-item h3{
        font-size: 24px;
        font-style: 600;
        margin-bottom: 16px;
        color: #001931;
    }
     .card-item p{
        font-size: 16px;
        color: #627382;
     }
     .third-contener{
        display: flex;
        padding: 120px;
     }
     .third-img{
        width: 600px;
        height: 600px;
     }
     .third-text{
        align-items: flex-start;
        justify-content: flex-start;
        padding: 120px 0px 120px 60px;
     }
     #only-p{
        margin-bottom: 16px;
        color: #30B868;
        font-size: 16px;

     }
     .third-text h3{
        font-size: 48px;
       font-style: Bold;
       margin-bottom: 16px;
       color: #001931;
     }
     .third-text p{
     font-weight: 370 px;
     line-height: 20px;
     font-size: 16px;
     margin-bottom: 40px;
     max-width: 600px;
     color: #627382;
     
     }
     ul{
        list-style: none;
     }
     ul li{
        margin-bottom: 16px;
     }
     .fore{
        width: 1360px;
        height: 384px;
        background-color: #F7F6F2;
        padding: 80px 40px 80px 40px;
       text-align: center;
       margin: 2Px 120px 120px 120px;
       border-radius: 12px;


     }
     .fore h2{
        font-size: 40px;
         font-style: Bold;
          
     }
     .fore p{
        margin-top: 16px;
        font-size: 16px;
        margin-bottom: 24px;
        color: #627382;
     }
     .footer{
        display: flex;
        height: 348px;
        background-color:  rgba(0, 25, 49, 1) ;
        padding: 120px 120px 30px 120px;
        text-align: center;
     }
     .footer h3{
        text-align: center;
        margin: 0px 80px 164px 1120px;
     }
     .last-div{
        color: white;
        font-size: 20px;
        font-style:Medium;
     }
       .last-div hr{
        color: #001931;
     }
     .all-footer{
        background-color:  rgba(0, 25, 49, 1) ;
        text-align: center;
        color: #FAFAFA;

     }
     

     